# IntelliJ Idea files
/.idea
/LifeLine.iml

# Generated folders and files
/assets
/bin
/gen
/libs
/out
/local.properties
/project.properties
/LifeLine.apk

# Stuff
/proguard-project.txt
/proguard_logs
